* {
    font-family: "Merriweather Sans", sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F1F1;
}
a {
    text-decoration : none;
    color: #448;
}
a:hover {
    color: #66A;
}
.container {
    width: 960px;
    margin: auto;
    background-color: #F6F6EF;
}
.content {
    padding: 5px 10px;
}
.demo-headline {
	padding : 8px 15px 8px 15px;
	background-color: #1abc9c;
}
p {
    font-size : large;
    margin-bottom : 10px;
    font-family : "Merriweather Sans", sans-serif;
}
.listing {
    margin-bottom : 5px;
    margin-left: 30px;
    padding : 0 5px 0 3px;
    position : relative;
    border-left: solid 3px #1abc9c;
}
h1 {
    font-size: large;
    display: inline;
}
h2 {
    margin-top : 10px;
    display: inline;
}
h3 { font-size : 20px; }
h4 { margin-top : 25px; }
.date {
    font-size : small;
    margin-left: 15px
}
.post_date {
    margin-left : 20px;
    font-size : small;
}
.author {
    margin-left : 20px;
    font-size : medium;
}
.undertitle {
    margin-top : -10px;
    font-family: "Flat-UI-Icons-16";
}
.span5 {
    width: 400px;
}
.post {
    border-left: solid 3px #1abc9c;
    padding-left: 5px;
    margin-left: 5px;
}
.row {
    margin-bottom : 0;
}
.auth_area {
    float: right;
}
.btn {
    border: 2px solid #A1D1D1;
    padding: 0 15px 3px 15px;
    margin: 0 auto 0 5px;
    font: bold;
    cursor: pointer;
    background-color: #C1F1F1;
}
input {
    margin-bottom: 15px;
    margin-left: 5px;
    border: 2px solid #777;
    padding: 5px;
}
.error {
    color: red;
}
.submit {
    margin-left: 20px;
}
.submit a, .auth_area a {
    color: #226;
}
